section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
img {
  width: 250px;
  height: 350px;
}

.delete {
  color: red;
}

.delete:hover {
  border-color: red;
}

.books {
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: center;
  max-width: 1500px;
  flex-wrap: wrap;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.buttons button {
  margin: 10px;
}